
 /* toggle theme start  */
:root {
   --primary-color: white;
   --secondary-color: #121c22;
   --border-color: #4320dd;
}

.dark {
   --primary-color: #111827;
   --secondary-color: white;
   --border-color: #ffffff;
}

body {
   background-color: var(--primary-color);
   color: var(--secondary-color);
   border-color: var(--border-color);
   transition: background-color 0.3s ease, color 0.3s ease;
}

/* toggle theme end */

